{% load i18n fobi_tags %}
<div class="card">

  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <dd><a class="nav-link active" href="#tab-form-elements">Survey Questions</a></dd>
      </li>
      <li class="nav-item">
        <dd><a class="nav-link" href="#tab-form-properties">Survey Properties</a></dd>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <h2 class="card-title">{% trans "Edit" %} {{form_entry.surveyformentry.name}}</h2>
  </div>

</div>
