.DS_Store
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
*.pyc
/justspaces/local_settings.py
/configs/local_settings.production.py
/configs/local_settings.staging.py
/configs/.env

# Editors
.vscode
