Django==2.1.5
pytest==4.2.0
psycopg2==2.7.7
gunicorn==19.9.0
flake8==3.7.7
pytest-django==3.4.8
pytest-mock==1.10.2
django-leaflet==0.24.0
django-crispy-forms==1.7.2

-e git+https://github.com/datamade/django-pldp.git#egg=django-pldp
-e git+https://github.com/datamade/django-fobi.git#egg=django-fobi
