{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col col-lg-7 card">
  <div class="card-body">
    <h2 class="card-title">Log In</h2>
    <br />

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    {{form.username | as_crispy_field}}
    {{form.password | as_crispy_field}}

    <br />
    <input type="submit" value="Login" class="btn btn-success float-right">
    <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
</div>
{% endblock %}
