{% extends 'partials/large_card.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block head %}Census Areas{% endblock %}

{% block top_button %}
  <a class="btn btn-primary ml-sm-auto ml-2 mr-sm-3" href="{% url 'census-areas-region-select' %}">Create new census area</a>
{% endblock %}

{% block subhead %}
  Create custom collections of Census block groups to aggregate when comparing survey data to surrounding neighborhoods.
{% endblock %}

{% block card_content %}
  <div class="table-responsive">
    <table id="census-areas-list" class="table table-hover table-striped card-text">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Is preset</th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for census_area in census_areas %}
        <tr>
          <td>
            <b>
              {% if not census_area.is_preset %}
                <a href="{% url 'census-areas-edit' census_area.id %}">{{census_area.name}}</a>
              {% else %}
                <span data-toggle="tooltip" title="Preset census areas cannot be edited." tabindex="0">
                  {{ census_area.name}}
                </span>
              {% endif %}
            </b>
          </td>
          <td class="text-center">{% if census_area.is_preset %}<i class="fa fa-fw fa-check-circle" style="color:green"></i>{% endif %}</td>
          <td class="text-center"><a href="{% url 'census-areas-deactivate' census_area.id %}"><i class="fas fa-times-circle icon deactivate"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock %}

{% block footer_js %}
  <script>
  $(document).ready( function () {
    $('#census-areas-list').DataTable({
      lengthChange: false,
      columnDefs: [{
        targets: [2],
        orderable: false,
      }],
    });
  } );
  </script>
{% endblock %}
