{% extends 'partials/large_card.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}Create New Census Area{% endblock %}

{% block subhead %}
  Create custom collections of Census block groups to aggregate when comparing survey data to surrounding neighborhoods.
{% endblock %}

{% block top_button %}
  <a class="btn btn-primary ml-sm-auto ml-2 mr-sm-3" href="{% url 'census-areas-list' %}">View existing census areas</a>
{% endblock %}

{% block card_content %}
  <form class="form-horizontal" name="census-area-form" method="post">
    {% crispy form %}
  </form>
  <div class="modal" id="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div id="spinner" style="height:100px; margin-left:50%; margin-top:100px"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_js %}
<script src="{% static 'js/spin.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('select[name="region"]').select2().change(function(e) {
      // Start the "Loading" spinner
      var spinner = Spinner().spin();
      $('#spinner').append(spinner.el);
      $('#modal').modal('show');

      // Redirect to an updated view with a new Region on the map
      var params = {
        region: e.target.value,
      };
      var name = $('input[name="name"]').val();
      var agency = $('select[name="agency"]').val();
      if (name) {
        params.name = name;
      }
      if (agency) {
        params.agency = agency;
      }
      var queryString = $.param(params);
      window.location.href = '{% url "census-areas-create" %}' + '?' + queryString;
    });
  });
</script>
{% endblock %}
