{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block extracss %}
  {% leaflet_css %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block extrajs %}
  {% leaflet_js %}
  {% leaflet_js plugins="forms" %}
{% endblock %}

{% block content %}
<div class="col col-lg-11 card">
  <div class="card-body">
    <h2 class="card-title">Create New Location</h2>
    <small class="form-text text-muted">Text describing what a location is. View the list of existing locations <a href="{% url 'locations-list' %}">here</a>.</small>
    <br />

    <form class="form-horizontal" name="location-form" method="post">
      {% crispy form_location %}
      {% crispy form_location_area %}
      {% crispy form_location_line %}
    </form>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/location_create.js' %}"></script>

{% endblock %}
