{% extends 'partials/large_card.html' %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block extracss %}
  {% leaflet_css %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block extrajs %}
  {% leaflet_js %}
  {% leaflet_js plugins="forms" %}
{% endblock %}

{% block head %}{{location}}{% endblock %}

{% block subhead %}<b>{{location.agency}}</b> location in <b>{{location.country}}</b>{% endblock %}

{% block card_content %}
  {% leaflet_map "main" callback="main_map_init" %}
  <br />

  <table id="location-detail" class="table table-striped table-responsive-sm table-bordered">
  <thead>
  </thead>
  <tbody>

    {% for label, content in rows %}
      {% if content %}
      <tr>
        <td style="width: 30%"><b>{{label}}</b></td>
        <td>{{content}}</td>
      </tr>
      {% endif %}
    {% endfor %}

  </tbody>
  </table>

  <a class="btn btn-secondary float-right" href="{% url 'locations-deactivate' location.id %}">Deactivate location</a>
  <a class="btn btn-link float-right" href="{% url 'locations-list' %}">Back to location list</a>
{% endblock %}

{% block footer_js %}
  <script type="text/javascript">
    function main_map_init (map, options) {
      var raw_data = '{{location.geometry.geojson|escapejs}}';
      var data = JSON.parse(raw_data);
      L.geoJson(data).addTo(map);
    }
  </script>
{% endblock %}
