{% extends 'partials/large_card.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block head %}Locations{% endblock %}

{% block top_button %}
  <a class="btn btn-primary ml-sm-auto ml-2 mr-sm-3" href="{% url 'locations-create' %}">Create new location</a>
{% endblock %}

{% block subhead %}
A location should describe a precise geographic site at which an agency collects survey data.
It can have either a line or area geometry.
{% endblock %}

{% block card_content %}
  <div class="table-responsive">
    <table id="locations-list" class="table table-hover table-striped card-text">
    <thead>
      <tr>
        <th scope="col">Primary Name</th>
        <th scope="col">Geometry Type</th>
        <th class="text-center" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}
        <tr>
          <td><b><a href="{% url 'locations-detail' location.id %}">{{location.name_primary}}</a></b></td>
          <td>{{location.geometry_type}}</td>
          <td class="text-center"><a href="{% url 'locations-deactivate' location.id %}"><i class="fas fa-times-circle icon deactivate"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock %}

{% block footer_js %}
  <script>
  $(document).ready( function () {
    $('#locations-list').DataTable({
      lengthChange: false,
      columnDefs: [{
        targets: [2],
        orderable: false,
      }],
    });
  } );
  </script>
{% endblock %}
