{% extends 'partials/large_card.html' %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block extracss %}
  {% leaflet_css %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block extrajs %}
  {% leaflet_js %}
  {% leaflet_js plugins="forms" %}
{% endblock %}

{% block head %}Create New Location{% endblock %}

{% block subhead %}
A location should describe a precise geographic site at which an agency collects survey data.
It can have either a line or area geometry.
{% endblock %}

{% block top_button %}
  <a class="btn btn-primary ml-sm-auto ml-2 mr-sm-3" href="{% url 'locations-list' %}">View existing locations</a>
{% endblock %}

{% block card_content %}
<form class="form-horizontal" name="location-form" method="post">
  {% crispy form_location %}
  {% crispy form_location_area %}
  {% crispy form_location_line %}
</form>
{% endblock %}

{% block footer_js %}
  <script type="text/javascript" src="{% static 'js/location_create.js' %}"></script>
{% endblock %}
