{% extends 'partials/large_card.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block head %}Locations{% endblock %}

{% block subhead %}Text describing what a location is.{% endblock %}

{% block card_content %}
  <table id="locations-list" class="table table-hover table-striped table-responsive-sm card-text">
  <thead>
    <tr>
      <th scope="col">Primary Name</th>
      <th scope="col">Geometry Type</th>
      <th scope="col">Subdivision</th>
      <th scope="col">Character</th>
      <th class="text-center" scope="col">Deactivate</th>
    </tr>
  </thead>
  <tbody>
    {% for location in locations %}
      <tr>
        <td><b><a href="{% url 'locations-detail' location.id %}">{{location.name_primary}}</a></b></td>
        <td>{{location.geometry_type}}</td>
        <td>{{location.subdivision}}</td>
        <td>{{location.character}}</td>
        <td class="text-center"><a href="{% url 'locations-deactivate' location.id %}"><i class="fas fa-times-circle icon deactivate"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}

{% block footer_js %}
  <script>
  $(document).ready( function () {
    $('#locations-list').DataTable({
      lengthChange: false,
    });
  } );
  </script>
{% endblock %}
