{% extends 'base.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Studies</h2>
    <small class="form-text text-muted">Text describing what a study is.</small>
    <br />

    <table id="studies-list" class="table table-hover table-striped table-responsive-sm card-text">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Agency</th>
        <th scope="col">Manager</th>
        <th scope="col">Manager Email</th>
        <th scope="col">Deactivate</th>
      </tr>
    </thead>
    <tbody>
      {% for study in studies %}
        <tr>
          <td><b><a href="{% url 'studies-detail' study.id %}">{{study.title}}</a></b></td>
          <td>{{study.agency}}</td>
          <td>{{study.manager_name}}</td>
          <td>{{study.manager_email}}</td>
          <td class="text-center"><a href="{% url 'studies-deactivate' study.id %}"><i class="fas fa-times-circle icon delete"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
    </table>

  </div>
</div>

{% endblock %}
