{% extends 'partials/large_card.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}Create New Study{% endblock %}

{% block subhead %}Text describing what a study is. View the list of existing studies <a href="{% url 'studies-list' %}">here</a>.{% endblock %}

{% block card_content %}
  {% crispy form %}
{% endblock %}

{% block footer_js %}
  <script type="text/javascript">
      $(document).ready(function() {
        $('.basic-multiple').select2();
      });
  </script>
{% endblock %}
