{% extends 'partials/large_card.html' %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block extracss %}
  {% leaflet_css %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block extrajs %}
  {% leaflet_js %}
  {% leaflet_js plugins="forms" %}
{% endblock %}

{% block head %}{{study.title}}{% endblock %}

{% block subhead %}<b>{{study.agency}}</b> study managed by <b>{{study.manager_name}}</b>{% endblock %}

{% block card_content %}
  <table id="study-detail" class="table table-striped table-responsive-sm table-bordered">
  <thead>
  </thead>
  <tbody>

    {% for label, content in rows %}
      {% if content %}
      <tr>
        <td style="width: 30%"><b>{{label}}</b></td>
        <td>{{content}}</td>
      </tr>
      {% endif %}
    {% endfor %}

  </tbody>
  </table>

  <a class="btn btn-warning float-right" href="{% url 'studies-deactivate' study.id %}">Deactivate study</a>
  <a class="btn btn-link float-right" href="{% url 'studies-list' %}">Back to study list</a>
{% endblock %}
