{% extends 'partials/large_card.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block head %}
  Studies
{% endblock %}

{% block top_button %}
  <a class="btn btn-primary ml-sm-auto ml-2 mr-sm-3" href="{% url 'studies-create' %}">Create new study</a>
{% endblock %}

{% block subhead %}
A study is run by an agency, defines a project's overall parameters in both
time and space, and can contain multiple related surveys.
{% endblock %}

{% block card_content %}
  <table id="studies-list" class="table table-hover table-striped table-responsive-sm card-text">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Agency</th>
      <th scope="col">Manager</th>
      <th scope="col">Manager Email</th>
      <th class="text-center" scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for study in studies %}
      <tr>
        <td><b><a href="{% url 'studies-detail' study.id %}">{{study.title}}</a></b></td>
        <td>{{study.agency}}</td>
        <td>{{study.manager_name}}</td>
        <td>{{study.manager_email}}</td>
        <td class="text-center"><a href="{% url 'studies-deactivate' study.id %}"><i class="fas fa-times-circle icon deactivate"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}

{% block footer_js %}
  <script>
  $(document).ready( function () {
    $('#studies-list').DataTable({
      lengthChange: false,
      columnDefs: [{
        targets: [4],
        orderable: false,
      }],
    });
  } );
  </script>
{% endblock %}
