{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block extracss %}
  {% leaflet_css %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block extrajs %}
  {% leaflet_js %}
  {% leaflet_js plugins="forms" %}
{% endblock %}

{% block content %}

<div class="col col-lg-10 card">
  <div class="card-body">
    <h2 class="card-title">{{study.title}}</h2>
    <h5 class="form-text text-muted"><b>{{study.agency}}</b> study managed by <b>{{study.manager_name}}</b></h5>
    <br />

    <table id="study-detail" class="table table-striped table-responsive-sm table-bordered">
    <thead>
    </thead>
    <tbody>

      {% for label, content in rows %}
        {% if content %}
        <tr>
          <td style="width: 30%"><b>{{label}}</b></td>
          <td>{{content}}</td>
        </tr>
        {% endif %}
      {% endfor %}

    </tbody>
    </table>

  <a class="btn btn-warning float-right" href="{% url 'studies-delete' study.id %}">Delete study</a>
  <a class="btn btn-link float-right" href="{% url 'studies-list' %}">Back to study list</a>
  </div>
</div>

{% endblock %}
