{% extends 'partials/large_card.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block head %}Submitted Survey Data{% endblock %}

{% block card_content %}
  <table class="table table-hover table-striped table-responsive-sm card-text">
  <thead>
    <tr>
      <th scope="col">Survey Title</th>
      <th scope="col">Last Submitted</th>
    </tr>
  </thead>
  <tbody>
    {% for survey in surveys_submitted %}
      <tr>
        <td>
          {% if survey.form_title != '[Deleted Survey]' %}
            <a href="{% url 'surveys-submitted-detail' survey.form_id %}">
              {{survey.form_title}}
            </a>
          {% else %}
              {{survey.form_title}}
          {% endif %}
        </td>
        <td>{{survey.time_stop}}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}
