{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card">
  <div class="card-body">

    <h2 class="card-title">{{ form_entry.name }}</h2>
    <br />

    <table class="table table-hover table-striped card-text display nowrap" id="survey-submitted-detail">
    <thead>
      <tr>
        <th scope="col">Time Submitted</th>
        <th scope="col">Row Total</th>
        {% for question in questions %}
          <th scope="col">{{question}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for survey in surveys_submitted %}
        <tr>
          <td>{{survey.time_stop}}</td>
          <td>{{survey.row.total}}</td>
          {% for component in survey.components %}
            <td>{{component.saved_data}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>

  </div>
</div>

<script>
$(document).ready(function () {
  $('#survey-submitted-detail').DataTable({
    // "scrollX": true,
  });
} );
</script>

{% endblock %}
