{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card">
  <div class="card-body">

    <h2 class="card-title">{{ form_entry.name }}</h2>
    <br />

    <h3 class="card-title">Export</h3>
    <br />

    <table class="table table-hover table-striped card-text display nowrap" id="survey-submitted-detail">
    <thead>
      <tr>
        <th scope="col">Time Submitted</th>
        {% for question in questions %}
          <th scope="col">{{question}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for survey in surveys_submitted %}
        <tr>
          <td>{{survey.time_stop}}</td>
          {% for component in survey.components %}
            <td>{{component.saved_data}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>

    <br />
    <h3 class="card-title">Analyze</h3>
    <br />

    <form method="post" id="chart-formset">
      {{ chart_formset.management_form }}
      {% csrf_token %}
      {% for form in chart_formset %}
        {% include 'partials/chart_form.html' with chart_id=form.data.order %}
      {% endfor %}
    </form>

    <button id="add-new-chart" class="btn btn-primary">Add new chart</button>

    <!-- Use a hidden empty form as the base for adding new forms -->
    <div id="chart-formset-template" style="display:none">
      {% include 'partials/chart_form.html' with form=chart_formset.empty_form %}
    </div>

    <hr />

    <div class="float-right">
      <button id="clear-charts" class="btn btn-link">Clear charts</button>
      <button id="save-charts" class="btn btn-primary">Save charts</button>
    </div>

  </div>
</div>

<script>
$(document).ready(function () {
  $('#survey-submitted-detail').DataTable({
    // scrollx styling taken from
    // https://stackoverflow.com/questions/45136218/datatables-scrollx-causing-squashed-header
    "sScrollX": "100%",
    "sScrollXInner": "110%",
    "fixedColumns":   {
      "leftColumns": 1
    }
  });

  var $totalForms = $('[name$=TOTAL_FORMS]');
  var chartContainer = '[class^="chart-container-"]'

  $('#add-new-chart').click(function() {
    var formIdx = $totalForms.val();
    $('#chart-formset').append($('#chart-formset-template').html().replace(/__prefix__/g, formIdx));
    $totalForms.val(parseInt(formIdx) + 1);
  })

  $('form').on('click', '.delete-chart', function(event) {
    event.preventDefault();
    $(this).parents(chartContainer).hide();
    $(this).parents(chartContainer).find('input[name$="DELETE"]').prop("checked", "true");
  });

  $('#clear-charts').click(function() {
    $('#chart-formset').find(chartContainer).not(':hidden').remove();
    $totalForms.val(0);
  })

  $('#save-charts').click(function() {
    $('#chart-formset').submit();
  })

} );
</script>

{% endblock %}
