{% extends 'partials/large_card.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block head %}Submitted Survey Data{% endblock %}

{% block top_button %}
  <a class="btn btn-primary ml-auto mr-3" href="{% url 'surveys-list-run' %}">Run another survey</a>
{% endblock %}


{% block card_content %}
  <table id="submitted-survey-list" class="table table-hover table-striped table-responsive-sm card-text">
  <thead>
    <tr>
      <th scope="col">Survey Title</th>
      <th scope="col">Times Run</th>
      <th scope="col">Last Submitted</th>
    </tr>
  </thead>
  <tbody>
    {% for survey in surveys_submitted %}
      <tr>
        <td>
          {% if survey.form_title != '[Deleted Survey]' %}
            <a href="{% url 'surveys-submitted-detail' survey.form_id %}">
              {{survey.form_title}}
            </a>
          {% else %}
              {{survey.form_title}}
          {% endif %}
        </td>
        <td>{{survey.times_run}} submissions</td>
        <td>{{survey.time_stop}}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}

{% block footer_js %}
  <script>
  $(document).ready( function () {
    $('#submitted-survey-list').DataTable({
      lengthChange: false,
    });
  } );
  </script>
{% endblock %}
