{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card">
  <div class="card-body">
    {% if published %}
    <h2 class="card-title">Run Survey</h2>
    {% else %}
    <h2 class="card-title">Edit Survey</h2>
    {% endif %}
    <br />

    <table class="table table-hover table-striped card-text">
    <thead>
      <tr>
        <th scope="col">Survey Name</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
        <th scope="col">Type</th>
        {% if published %}
        <th scope="col">Run</th>
        {% else %}
        <th scope="col">Edit</th>
        <th scope="col">Preview</th>
        <th scope="col">Publish</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for survey in surveys %}
        <tr>
          <td><b>{{survey.name}}</b></td>
          <td>{{survey.created}}</td>
          <td>{{survey.updated}}</td>
          <td>{{survey.type | title}}</td>
          {% if published %}
          <td class="text-center"><a href="{% url 'fobi.view_form_entry' survey.slug %}"><i class="fas fa-clipboard-list icon run"></i></a></td>
          {% else %}
          <td class="text-center"><a href="{% url 'fobi.edit_form_entry' survey.id %}"><i class="fas fa-pencil-alt icon edit"></i></a></td>
          <td class="text-center"><a href="{% url 'fobi.view_form_entry' survey.slug %}"><i class="fas fa-eye icon preview"></i></a></td>
          <td class="text-center"><a href="{% url 'surveys-publish' survey.id %}"><i class="far fa-newspaper icon delete"></i></a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
    </table>

  </div>
</div>

{% endblock %}
