{% extends 'partials/small_card.html' %}
{% load static %}

{% block head %}Publish Survey{% endblock %}

{% block card_content %}
  <p class="card-text">Are you sure you want to publish <b>{{survey.name}}</b>?</p>
  <p class="card-text">Surveys must be published before they can be run, but cannot be edited
    once they've been published.</p>

  <form method="POST" class="post-form">
    {% csrf_token %}
    <button type="submit" class="save btn btn-primary float-right">Publish</button>
    <a href="{% url 'fobi.edit_form_entry' survey.id %}" class="btn btn-link float-right">Edit survey</a>
  </form>
{% endblock %}
