{% extends 'partials/large_card.html' %}
{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block head %}Run Survey{% endblock %}

{% block top_button %}
  <a class="btn btn-primary ml-sm-auto ml-2 mr-sm-3" href="{% url 'surveys-create' %}">Create new survey</a>
{% endblock %}

{% block card_content %}
  <table id="survey-list-run" class="table table-hover table-striped table-responsive-sm card-text">
  <thead>
    <tr>
      <th scope="col">Survey Name</th>
      <th scope="col">Type</th>
      <th scope="col">Length</th>
      <th scope="col">Last Run</th>
      <th class="text-center" scope="col">Run</th>
      {% if user.is_staff %}
        <th class="text-center" scope="col">Delete</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for survey in surveys %}
      <tr>
        <td><b>{{survey.name}}</b></td>
        <td>{{survey.type}}</td>
        {% if survey.question_count == 1 %}
          <td>{{survey.question_count}} question</td>
        {% else %}
          <td>{{survey.question_count}} questions</td>
        {% endif %}
        <td>{{survey.last_run}}</td>
        <td class="text-center"><a class="btn btn-primary mt-0" href="{% url 'fobi.view_form_entry' survey.slug %}">Run survey</a></td>
        {% if user.is_staff %}
          <td class="text-center"><a href="{% url 'surveys-deactivate' survey.id %}"><i class="fas fa-times-circle icon deactivate"></i></a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}

{% block footer_js %}
  <script>
    $(document).ready( function () {
      $('#survey-list-run').DataTable({
        lengthChange: false,
        columnDefs: [{
          {% if user.is_staff %}
            targets: [4, 5],
          {% else %}
            targets: [4],
          {% endif %}
          orderable: false,
        }],
      });
    } );
  </script>
{% endblock %}
