/*
    Document   : override-simple-theme.css
    Created on : Oct 14, 2014, 10:15:25 PM
    Author     : Artur Barseghyan <artur.barseghyan@gmail.com>
    Description:
        Override the simple theme.
*/

/*
   Styles used in the document were taken from here:
   http://www.sanwebe.com/2013/10/css-html-form-styles
*/

body {
  padding-top: 10px;
}
