/* ---------------------------------------------------
    COLOR PALETTE
----------------------------------------------------- */

:root {
  --light-green-color: #d6e8cd;
  --medium-green-color: #a1bfa2;
  --dark-green-color: #014c42;
  --ucd-green-color: #949b50;
  --light-blue-color: #e0f8ff;
  --medium-blue-color: #d6edf4;
  --ucd-blue-color: #207096;
  --off-white-color: #f6f5ec;
  --gray-color: #e9e9e9;
  --orange-color: #e94e0c;
  --pink-color: #eb549e;
}

/* ---------------------------------------------------
    CLASS STYLES
----------------------------------------------------- */

body {
  min-height: 100%;
  background-color: var(--off-white-color);
  font-family: 'PT Sans', sans-serif;
}

h5, h4, h2 {
  font-family: 'Roboto', sans-serif !important;
  color: var(--ucd-blue-color);
}

a {
  color: var(--ucd-green-color);
  font-weight: 800;
}

a:hover,
a:focus {
  color: var(--orange-color);
  text-decoration: none;
  transition: all 0.3s;
}

hr {
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

h4 {
  margin-bottom: 1rem;
}

h5 {
  font-weight: normal;
  font-size: .9rem;
  padding-bottom: 10px;
  line-height: 1.3rem;
}

.card-title {
    margin-top: .75rem;
    margin-bottom: 0rem;
}

/* ---------------------------------------------------
    SIDEBAR STYLES
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.sidebar {
  font-family: 'Roboto', sans-serif !important;
  min-width: 250px;
  max-width: 250px;
  background: var(--light-green-color);
  transition: all 0.2s;
  z-index: 100;
}

.sidebar.active {
  min-width: 75px;
  max-width: 75px;
  text-align: center;
}

.sidebar.active .sidebar-header h3 {
  display: none;
}

.sidebar.active .sidebar-header strong {
  display: block;
}

.sidebar.active ul {
  display: none;
}

.sidebar .sidebar-header {
  padding: 20px;
}

.sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

.sidebar ul {
  margin-left: 0;
}

.sidebar ul.components {
  padding: 0px;
}

.sidebar ul li a {
  padding: 5px 30px;
  font-size: .9em;
  display: block;
  text-align: left;
  color: black;
  background: none;
  font-weight: 600;
  border-radius: 0px;
}

.sidebar ul li a:hover {
  padding: 5px 25px;
}

.btn-sidebar {
  background: var(--off-white-color);
  border-radius: 5px;
  padding: 3px 7px;
}

.btn-sidebar:hover {
  color: var(--dark-green-color);
}

.sidebar ul li a i {
  margin-right: 10px;
  color: var(--pink-color);
  background: var(--off-white-color);
  border-radius: 5px;
  padding: 3px 7px;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: var(--off-white-color);
  background: var(--light-green-color);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

a.download {
  background: #fff;
  color: var(--light-green-color);
}

a.article,
a.article:hover {
  background: var(--light-green-color); !important;
  color: #fff !important;
}

.sidebar-blurb {
  font-size: .8em;
  padding: 5px 35px;
}

.about-blurb {
  line-height: 25px;
}

.about-link {
  color: var(--orange-color);
  background: var(--off-white-color);
  border-radius: 5px;
  padding: 3px 7px;
}

.about-link:hover {
  color: var(--ucd-green-color);
}

.list-unstyled {
  padding-left: 40px;
}

/* ---------------------------------------------------
    FORM STYLES
----------------------------------------------------- */

.asteriskField {
  color: var(--orange-color);
  font-weight: 600;
}

.content {
  width: 80%;
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  background: var(--off-white-color);
}

.card {
  box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.1);
}

.alert-box.success {
  display: none !important;
}

.form-element {
  padding: 10px 0px;
}

.form-element-label {
  font-weight: 500;
  text-align: right;
}

.form-element-input {
  margin-top: -5px;
}

.icon-column {
  text-align: center;
}

.selection {
  width: 100%;
}

.select2-selection, #id_area {
  width: 100%;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #aaa !important;
}

.select2-container {
  width: 100% !important;
}

.select2-container--focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  border-radius: .25rem;
}

#div_id_area div p {
  display: none;
}

#id_area {
  height: 100px;
  margin-top: 15px;
}

.invalid-feedback {
  display: block !important;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.btn {
  font-weight: 600;
  margin-top: 15px;
}

.btn:hover {
  font-weight: 600;
}

.btn-success, .btn-primary {
  color: var(--dark-green-color);
  background-color: var(--light-green-color);
  border-color: var(--light-green-color);
}

.btn-success:hover, .btn-primary:hover {
  color: var(--dark-green-color);
  background-color: var(--medium-green-color);
  border-color: var(--medium-green-color);
}

.btn-warning, .btn-secondary {
  color: var(--ucd-blue-color);
  background-color: var(--light-blue-color);
  border-color: var(--light-blue-color);
}

.buttons-csv {
  margin-top: 0px;
}

.page-link {
  font-weight: 500;
  color: var(--gray-color);
}

.page-item.active .page-link {
    font-weight: 500;
    background-color: var(--ucd-blue-color);
    border-color: var(--ucd-blue-color);
}

.btn-warning:hover, .btn-secondary:hover {
  color: var(--ucd-blue-color);
  background-color: var(--medium-blue-color);
  border-color: var(--medium-blue-color);
}

.btn-link {
  color: var(--orange-color);
}

.btn-link:hover {
  color: var(--orange-color);
}

.col-form-label {
  padding-right: 3px;
  font-weight: 500;
}

.action-box {
  background-color: var(--gray-color);
  border-radius: 10px;
  padding: 20px;
}

.form-group div label, .dataTables_info {
  font-weight: 400;
  font-size: 80%;
  margin-bottom: .1rem;
}

.form-text ul {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-inline-start: 0px;
}

.form-text ul li {
    display: inline;
    padding-right: 15px;
}

.form-text ul li a {
  margin-top: .25rem;
  font-weight: 600;
}

 .icon-pink, .code, .publish, .run {
   color: var(--pink-color);
 }

 .edit {
   color: var(--dark-green-color);
 }

 .preview {
   color: var(--medium-green-color);
 }

.deactivate {
  color: var(--orange-color);
}

 .leaflet-container {
   height: 450px;
 }

 textarea.form-control {
    height: 100px;
}

/* ---------------------------------------------------
    DATA ANALYSIS DESIGNER
----------------------------------------------------- */

.portlet-handle:hover {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.portlet-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Hide/show position controls with JavaScript */
.move-chart-up,
.move-chart-down {
  display: none;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
      text-align: left !important;
  }

  .content {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
 .sidebar.active {
   min-width: 30px;
   max-width: 30px;
 }

 .sidebar.active .sidebar-header {
   padding: 20px 0px 0px 0px !important;
 }

 .sidebar .sidebar-header strong {
   font-size: .7rem;
   font-weight: 900;
   transform: rotate(-45deg);
 }
}
