/* ---------------------------------------------------
    COLOR PALETTE
----------------------------------------------------- */

:root {
  --light-green-color: #cde8ce;
  --medium-green-color: #a1bfa2;
  --dark-green-color: #014c42;
  --light-blue-color: #e0f8ff;
  --medium-blue-color: #d6edf4;
  --dark-blue-color: #015c75;
  --off-white-color: #fafafa;
  --orange-color: #e94e0c;
  --pink-color: #eb549e;
}

/* ---------------------------------------------------
    CLASS STYLES
----------------------------------------------------- */

body {
    min-height: 100%;
    background-color: var(--off-white-color)
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: var(--orange-color);
    font-weight: 800;
    /* background: var(--off-white-color); */
    /* border-radius: 5px; */
    /* padding: 3px 7px; */
    text-decoration: none;
    transition: all 0.3s;
}

hr {
  width: 100%;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLES
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100%;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--light-green-color);
    transition: all 0.2s;
}

.sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.sidebar.active .sidebar-header h3 {
    display: none;
}

.sidebar.active .sidebar-header strong {
    display: block;
}

.sidebar.active ul {
  display: none;
}

.sidebar .sidebar-header {
    padding: 20px;
    background: var(--light-green-color);
}

.sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

.sidebar ul {
  margin-left: 0;
}

.sidebar ul.components {
    padding: 0px;
}

.sidebar ul li a {
  padding: 5px 30px;
  font-size: .9em;
  display: block;
  text-align: left;
  color: black;
  background: none;
  font-weight: 600;
  border-radius: 0px;
}

.sidebar ul li a:hover {
    padding: 5px 25px;
}

.sidebar-blurb a {
  background: var(--off-white-color);
  border-radius: 5px;
  padding: 3px 7px;
}

.sidebar-blurb a:hover {
  color: var(--dark-green-color);
}

.sidebar ul li a i {
    margin-right: 10px;
    color: var(--pink-color);
    background: var(--off-white-color);
    border-radius: 5px;
    padding: 3px 7px;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: var(--off-white-color);
    background: var(--light-green-color);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

a.download {
    background: #fff;
    color: var(--light-green-color);
}

a.article,
a.article:hover {
    background: var(--light-green-color); !important;
    color: #fff !important;
}

.sidebar-blurb {
  font-size: .8em;
  padding: 5px 35px;
}

.about-blurb {
  line-height: 25px;
}

.list-unstyled {
  padding-left: 40px;
}

/* ---------------------------------------------------
    FORM STYLES
----------------------------------------------------- */

.asteriskField {
  color: var(--orange-color);
  font-weight: 600;
}

.content {
    width: 80%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    background: #fafafa;
}

.alert-box.success {
  display: none !important;
}

.form-element {
  padding: 10px 0px;
}

.form-element-label {
  font-weight: 500;
  text-align: right;
}

.form-element-input {
  margin-top: -5px;
}

.icon-column {
  text-align: center;
}

.selection {
  width: 100%;
}

.select2-selection, #id_area {
  width: 100%;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-container--focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  border-radius: .25rem;
}

#div_id_area div p {
  display: none;
}

#id_area {
  height: 100px;
  margin-top: 15px;
}

.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.btn-success, .btn-primary {
  color: var(--dark-green-color);
  background-color: var(--light-green-color);
  border-color: var(--light-green-color);
  font-weight: 600;
}

.btn-success:hover, .btn-primary:hover {
  color: var(--dark-green-color);
  background-color: var(--medium-green-color);
  border-color: var(--medium-green-color);
  font-weight: 600;
}

.col-form-label {
  padding-right: 3px;
}

/* ---------------------------------------------------
    DATA ANALYSIS DESIGNER
----------------------------------------------------- */

.portlet-handle:hover {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.portlet-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Hide/show position controls with JavaScript */
.move-chart-up,
.move-chart-down {
    display: none;
}
