.env
raw/acs/*.csv
raw/shapefiles/*.zip
intermediate/acs/*.csv

# Extra shapefile data
final/shapefiles/*.cpg
final/shapefiles/*.dbf
final/shapefiles/*.prj
final/shapefiles/*.shp.ea.iso.xml
final/shapefiles/*.shp.iso.xml
final/shapefiles/*.shx
