.env
raw/acs/*.csv
intermediate/acs/*.csv

# Shapefiles
raw/shapefiles/*.zip
intermediate/shapefiles/*
!intermediate/shapefiles/.gitkeep
final/shapefiles/*
!final/shapefiles/.gitkeep
final/acs/*
!final/acs/.gitkeep
