{% load widget_tweaks %}

<div class="chart-container-{{chart_id}} row">
  <div class="col-sm-12">
    <div class="card bg-light mb-3 p-3 ml-auto">

      <div class="row row ml-1">

        <div class="float-left portlet-handle mr-2">
          <i title="Click and drag to reposition chart" class="fa fa-fw fa-bars"></i>
        </div>
        <div class="float-left ordering-buttons">
          <button
            type="button"
            title="Move chart up"
            class="btn btn-outline-secondary btn-sm move-chart-up mt-0"
            id="move-chart-down-{{chart_id}}"
            onclick="event.preventDefault()"
          >
            <i class="fa fa-fw fa-arrow-up"></i>
          </button>
          <button
            type="button"
            title="Move chart down"
            class="btn btn-outline-secondary btn-sm move-chart-down mt-0"
            id="move-chart-down-{{chart_id}}"
            onclick="event.preventDefault()"
          >
            <i class="fa fa-fw fa-arrow-down"></i>
          </button>
        </div>
        <button
          type="button"
          class="btn btn-danger delete-chart ml-auto mr-3 mt-0"
          id="delete-chart-{{chart_id}}"
          onclick="event.preventDefault()"
        >
          Remove
        </button>
      </div>

      <div class="form-horizontal">
        <div
          class="highcharts-chart my-2"
          id="highcharts-chart-{{chart_id}}">
        </div>

        <br />

        <div class="form-group row">
          <label for="id_form-{{chart_id}}-primary_source" class="col-form-label col-lg-3">
            Survey question:
          </label>
          <div class="col-lg-9">
            {{form.primary_source | attr:"class:form-control"}}
            <small class="form-text text-muted">
              Select the survey question you'd like to analyze.
            </small>
          </div>
        </div>

        <div class="form-group row" id="id_form-{{chart_id}}-container-census_areas" style="display:none">
          <label for="id_form-{{chart_id}}-census_areas" class="col-form-label col-lg-3">
            Compare to Census:
          </label>
          <div class="col-lg-9">
            {{form.census_areas | attr:"class:form-control basic-multiple"}}
            <small class="form-text text-muted">
              Select one or multiple Census geographies to compare to the data collected for this question.
              Don't see the census area you need? <a href="{% url 'census-areas-region-select' %}" target="_blank">Create a new one here.</a>
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="id_form-{{chart_id}}-short_description" class="col-form-label col-lg-3">
            Short description:
          </label>
          <div class="col-lg-9">
            {{form.short_description | attr:"class:form-control"}}
            {{form.order}}
            {{form.id}}
            <!-- Use display:none instead of type="hidden" so that JQuery can check/uncheck the input -->
            <input type="checkbox"
              style="display: none"
              name="form-{{chart_id}}-DELETE"
              id="id_form-{{chart_id}}-DELETE"
            />
            <small class="form-text text-muted">
              Write a short description of your survey question and analysis.
            </small>
          </div>
        </div>
      </div>

      {% if form.errors %}
        <div class="alert alert-danger mt-3">
          <h4>Errors</h4>
          <ul>
            {% for field, errors in form.errors.items %}
              <li>{{field}}: {{errors}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
