{% load staticfiles %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{% static 'images/favicon.png' %}">

<title>Just Spaces</title>

<meta name="description" content="A data tool from University City District to ensure that public spaces are deeply inclusive and just.">
<meta name="author" content="University City District}">

<!-- Facebook -->
<meta property="og:site_name" content="Just Spaces">
<meta property="og:title" content="Just Spaces">
<meta property="og:type" content="website">
<meta property="og:description" content="A data tool from University City District to ensure that public spaces are deeply inclusive and just.">
<meta property="og:url" content="https://justspacesproject.org/">
<meta property="og:image" content="https://justspacesproject.org/{% static 'images/porch.jpg' %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="A data tool from University City District to ensure that public spaces are deeply inclusive and just.">
<meta name="twitter:title" content="Just Spaces">
<meta name="twitter:url" content="https://justspacesproject.org/">
<meta name="twitter:image:src" content="https://justspacesproject.org/{% static 'images/porch.jpg' %}">
